<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Vancouver Airport Dashboard</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="flights" class="nav-link">Flights</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-arrival" class="nav-link">Add Arrival</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-departure" class="nav-link">Add Departure</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
